* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #373737;
    font-size: 16px;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

h1{
    font-size: 36px;
    margin-bottom: 40px;
}

h5{
    font-size: 16px;
}

.logo{
    height: 40px;
    width: 108px;
}

.navbar.navbar-expand-md.navbar-light{
    padding: 8px 16px;
    font: 13px;
    color: #373737;
}

.navbar-brand{
    color: #000000;
    font: 20px;
    margin: 0px 16px 0px 0px;
    padding: 5px 0px;
}

.nav-name{
    font-weight: bold;
    margin: auto 16px;
    font-size: 13px;
}

i{
    margin-right: 8px;
}

.nav-vl{
    margin: 5.75px 16px;
    border-left: 2px solid #d6d6d678;
}

.nav-link{
    font-size: 13px;
}

#loading {
    display: none;
    background-color: #666666;
    background-image: url("../img/progress_spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}

.white.pb-3{
    color: #ffffff;
}

.btn.btn-secondary{
    height: 38px;
}

.page-container{
    max-width: 800px;
    margin: auto;
    padding: 80px 24px;
}

@media (max-width: 768px) {
    .page-container {
        padding: 64px 24px;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
}

.modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
}

.btn-primary{
    display: inline-block;
    text-align: center;
    background-color: #4cc4bc;
    border-color: #4cc4bc;
    width: 100%;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #3ba099; 
}

.btn-primary:focus {
    background-color: #66d6ce; 
    outline: none;
}

#login-link-footer{
    color: #4cc4bc;
}

.form-control{
    margin-bottom: 15px;
}

.input-group-text{
    margin-bottom: 0px;
    height: 37.6px;
    width: 41.6px;
    margin-right: -1px;
}

.form-group{
    margin-bottom: 16px;
}

.close{
    border: none;
    background-color: #ffffff
}

.footer{
    background-color: #373737;
    font-size: 13px;
}

.footer-container{
    padding: 24px;
}

.footer-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-city {
    margin-bottom: 8px;
    text-align: center;
}

@media(max-width:768px) {
    .footer-city {
        width: 100%;
    }
}

.footer-city a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 24px;
}

.breadcrumb{
    background-color: #e5e3e8;
    padding: 8px 16px;
    font-size: 13px;
    margin:0%
}
